#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    /* background-color: #222831; */
    background: rgba(28, 28, 28, 0.25);
    box-shadow: 0 8px 32px 0 rgba(9, 11, 38, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#mainNavbar .nav-link {
    color: #EEEEEE;
}

#mainNavbar .nav-link:hover {
    color: #e0b78a;
}

#mainNavbar .navbar-brand {
    color: #e0b78a;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: black;
    transition: background 500ms;
}

#mainNavbar .btn-outline-success {
    border-color: #EEEEEE;
    color: #EEEEEE;
}

#mainNavbar .btn-outline-success:hover {
    border-color: #e0b78a;
    color: #e0b78a;
    background: none;
}

.collapse {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    background-color: #e0b78a;
}

.dropdown-menu a {
    color: white;
}