/* ///////////////COMMENTS///////////////*/
/* ///////////////COMMENTS///////////////*/
/* ///////////////COMMENTS///////////////*/
.message {
    width: 100%;
}


.btnSubmit {
    display: flex;
    float: right;
    transition: all 0.5s ease;
}

.btnSubmit:hover {
    letter-spacing: 1rem;
}