.leftContainer {
  cursor: url("../../Assets/IMAGES/rightArrow.svg"), auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.rightContainer {
  cursor: url("../../Assets/IMAGES/leftArrow.svg"), auto;
  height: 100%;
}

h1 {
  color: white;
  padding: 5%;
}

.stories {
  margin-left: -100%;
}

#storyContainer {
  position: absolute;
  width: 50%;
  right: 0;
  height: 80vh;
  overflow-y: scroll;
}

#blogContainer {
  position: absolute;
  width: 50%;
  left: 0;
  height: 80vh;
  overflow-y: scroll;
}