@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    background: black;
    font-family: 'Cinzel', serif;
    /* font-weight: 400; */
}

/* body {
  margin: 5%;
} */

::selection {
    color: #fff;
    background: #e0b78a;
}