@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cinzel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 30%;
  color: #e0b78a;
}

body {
  background: black;
  font-family: 'Cinzel', serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #121212; */
}

.bowl1 {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  border: 8px solid transparent;
  transform-origin: bottom center;
  animation: animate1 5s linear infinite;
}

.bowl1:hover {
  animation: none;
}

@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(0deg);
  }
}

.bowl2 {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  border: 8px solid transparent;
  transform-origin: bottom center;
  animation: animate2 5s linear infinite;
}

.bowl2:hover {
  animation: none;
}

@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(15deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(0deg);
  }
}

.bowl1::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 55px;
  border: 15px solid #444;
  border-radius: 50%;
  box-shadow: 0 5px #222;
}

.bowl1::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 150px;
  height: 80px;
  background: rgba(255,255,255,0.05);
}

.bowl2::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 55px;
  border: 15px solid #444;
  border-radius: 50%;
  box-shadow: 0 5px #222;
}

.bowl2::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 150px;
  height: 80px;
  background: rgba(255,255,255,0.05);
}

.bowlCol div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liquid1 {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #e0b78a;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0 0 80px #e0b78a);
  transform-origin: top center;
  animation: animateLiquid1 5s linear infinite;
}

.liquid1:hover {
  animation: none;
}

@keyframes animateLiquid1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.liquid2 {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #e0b78a;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0 0 80px #e0b78a);
  transform-origin: top center;
  animation: animateLiquid2 5s linear infinite;
}

.liquid2:hover {
  animation: none;
}

@keyframes animateLiquid2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.liquid1::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: #e0b78a;
  border-radius: 50%;
  filter: drop-shadow(0 0 80px #e0b78a);
}

.liquid2::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: #e0b78a;
  border-radius: 50%;
  filter: drop-shadow(0 0 80px #e0b78a);
}

.shadow {
  position: relative;
  top: calc(50% + 150px);
  /* left: 50%;
  transform: translate(-50%, -50%); */
  width: 300px;
  height: 30px;
  background: rgba(24, 24, 24, 0.408);
  border-radius: 50%;
}

.row {
  --bs-gutter-x: 15rem;
}


